body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
}

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --botton-color: #f5f4fa;
  --primary-bg-color: #2f303a;
  --bg-hero: #c4c4c4;
  --social-link-color: #afb1b8;
}

h1,
h2,
h3,
p,
u,
.li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.li {
  list-style-type: none;
}
